<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "header.html" . }}

  <body>

    <div class="logo"><a href="/"><img src="/splash/logo.png"></a></div>

    {{ partial "splash.html" . }}

    <div class="container">
      <div style="font-size:120%">
        <br>
        <br>
        {{ .Content }}
        <br>
        <br>
      </div>
    </div>

    {{ partial "profiles.html" . }}

    {{ with .Site.Params.footer }}
      <div class="container">
      <div class="footer-bottom">
        <span style="color:#666">source: {{ . | markdownify }}</span>
      </div>
      </div>
    {{ end }}

    {{ partial "footer.html" . }}

  </body>
</html>


